/TopoGEN/output
/analysis/nonaffinity_check/AffinityCheck.xlsx
/analysis/nonaffinity_check/elements_312_s1.inp
/analysis/nonaffinity_check/elements_312_s2.inp
/analysis/nonaffinity_check/elements_312_s3.inp
/analysis/nonaffinity_check/elements_312_s4.inp
/analysis/nonaffinity_check/elements_312_s5.inp
/analysis/nonaffinity_check/elements_356_s1.inp
/analysis/nonaffinity_check/elements_356_s2.inp
/analysis/nonaffinity_check/elements_356_s3.inp
/analysis/nonaffinity_check/elements_356_s4.inp
/analysis/nonaffinity_check/elements_356_s5.inp
/analysis/nonaffinity_check/nodes_312_s1.inp
/analysis/nonaffinity_check/nodes_312_s2.inp
/analysis/nonaffinity_check/nodes_312_s3.inp
/analysis/nonaffinity_check/nodes_312_s4.inp
/analysis/nonaffinity_check/nodes_312_s5.inp
/analysis/nonaffinity_check/nodes_356_s1.inp
/analysis/nonaffinity_check/nodes_356_s2.inp
/analysis/nonaffinity_check/nodes_356_s3.inp
/analysis/nonaffinity_check/nodes_356_s4.inp
/analysis/nonaffinity_check/nodes_356_s5.inp
/CollaGEN/OldProject
/CollaGEN/AbaqusFiles
/CollaGEN/TopoGEN/archive
